/*------------ google font ------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-------------
common styles
-------------- */
body {
    font-family: 'Poppins', sans-serif;
    width: 1508px;
    max-width: 100%;
    margin: auto;
    border: 0.1px solid lightgrey;

}

main {
    width: 1321px;
    max-width: 90%;
    margin: auto;
}

/*------------------
    banner styles
 ------------------- */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 50px;
}

.title {
    Width: 531px;
    color: #FFFFFF;
    line-height: 80px;
    Font-size: 4em;
    margin: 0;
}

.sub-title {
    width: 506px;
    line-height: 26px;
    color: #FFFFFF;
}

.button {
    height: 56px;
    width: 187px;
    border-radius: 5px;
    margin-top: 18px;
    color: #FFFFFF;
    background-color: #DD0000;

}

.button span {
    font-size: 1.5em;
}

.fa-greater-than {
    width: 1.5px;
    padding-left: 10px;
}

.banner-image img {
    Width: 581px;
}

/*-------------------------
       menu-bar styles 
--------------------------- */
.blog-section {
    margin: 130px 0;
    display: flex;
}

.menu-bar {
    height: 312px;
    width: 312px;
    border-radius: 10px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.menus {
    display: flex;
    flex-direction: column;
    height: 252px;
    width: 252px;
    justify-content: space-between;
    padding: 0;

}

.menu {
    list-style: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 17px 0;

}

.menu a {
    text-decoration: none;
    color: #161616;
    font-size: 1.25em;

}

#menu-blog {
    background-color: #DD0000;
}

#menu-blog a {
    color: #FFFFFF;
}

/*------------------- blogs styles-------------- */


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.blog {
    height: 362px;
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;

}

.blog-button {
    height: 32px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #161616;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-top: 12px;
}

.blog-button span {
    font-size: 1.25em;

}

.blog-title {
    color: #161616;
    font-size: 1.15em;
    font-weight: 600;
    margin: 15px 20px 20px;

}

.blog-icons {
    display: flex;
    margin: 0 20px 20px;
    color: rgba(22, 22, 22, 0.7);
}

.time {
    display: flex;
    align-items: center;
    padding-right: 30px;

}

.chat {
    display: flex;
    align-items: center;

}

.count {
    padding-left: 10px;
}

/*-------- view button styles------------ */
.view-button {
    display: none;
    margin-bottom: 70px;
}

.view {
    height: 47px;
    width: 131px;
    border-radius: 5px;
    background-color: #DD0000;
    border: 0;

}

.view span {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

}


/*--------------------
     footer styles
 --------------------- */
.footer {
    max-width: 100%;
    background-color: #161616;
}

.footer-title {
    color: #FFFFFF;
    font-size: 2.5em;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 42px;
    margin: 0;
}

.line {
    background: #FFFFFF1A;
    border: 1px solid #FFFFFF1A;
    width: 1320px;
    max-width: 90%;
}

.label {
    color: #B9B9B9;
    padding-top: 36px;
    padding-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    line-height: 50px;
    justify-content: center;
}

.label small {
    font-size: 1em;
    margin: 0 35px;
}

/*---------------
    Media Queries
 ---------------- */

/*----------- tablet devices ------------ */
@media only screen and (min-width:689px) and (max-width:992px) {

    body,
    main,
    footer {
        height: auto;
    }

    .container {
        align-items: flex-end;
    }

    .banner-info {
        width: 45%;
        padding-left: 50px;
    }

    .title {
        Width: auto;
        color: #FFFFFF;
        line-height: 50px;
        Font-size: 3em;
        margin-bottom: 0;
        margin-top: 50px;
    }

    .sub-title {
        width: auto;
        line-height: 20px;
        font-size: 14px;
    }

    .button {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .banner-image {
        width: 45%;
    }

    .banner-image img {
        width: 100%;
        height: auto;
    }

    .blog-section {
        flex-direction: column;
        margin: 54px 0 50px;
    }

    .menu-bar {
        background-color: #FFFFFF;
        height: auto;
        width: auto;
        display: block;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .menus {
        height: auto;
        width: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;
    }

    .blog {
        height: auto;
        width: auto;
    }

    .menu {
        border: 1px solid #E8E8E8;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .thumbnails img {
        width: 100%;
    }

    .blog-title {
        font-size: 1.25em;
    }

    .view-button {
        display: flex;
        justify-content: center;
    }

    .footer-title {
        padding-top: 70px;
    }

    .label {
        padding-bottom: 55px;
    }

}